/node_modules
/public/js/dev
/public/hot
/public/storage
/storage/*.key
/vendor
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock
composer.lock
*phpstorm.meta*
_ide_helper*
.env
/.idea
